<!DOCTYPE html>
<html>
<head>
  <script data-main='scripts/index' src='scripts/require.js'></script>
</head>
<body>
  <h1>Working</h1>

 <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</script>
</body>
</html>
