<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <h1>Log In!</h1>
  <form id='newUser' action='/confirmation' method='post'>
    <div>
      <label for='email'>Email: </label>
      <input type='text' name='email'>
      <label for='password'>Password: </label>
      <input type='password' name='password'>
      <button id='submitButton' type='submit' value='submit'>Submit</button>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</script>
</body>
</html>
