
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <h1>Create account</h1>

  <div>
    <%=error%>
  </div>


  <form id='newUser' action='/confirmation' method='post'>
    <div>
      <label for='name'>Name: </label>
      <input type='text' name='name'>
      <label for='email'>Email: </label>
      <input type='text' name='email'>
      <label for='password'>Password: </label>
      <input type='password' name='password'>
      <label for='password'>Password Confirmation: </label>
      <input type='password' name='passwordConfirmation'>
      <button id='submitButton' type='submit' value='submit'>submit</button>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</script>
</body>
</html>
